
<script>

    export default {
       template: '<canvas ref="chart" width="520" height="260"></canvas>',
       
       props:['keys','values1','values2','label','color','type'],
        

  mounted() {
    this.$nextTick(() => {

      let myChart = new Chart(this.$refs.chart, {
        type: this.type,
        data: {
          labels: this.keys,         
          datasets: [
            {
              label: 'Total Deposit Amount',
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              borderColor:'#66CDAA',
              fill: false,
              data: this.values1
            },

            {
              label: 'Total Withdraw Amount',
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              borderColor: '#87CEEB',
              fill: false,
              data: this.values2
            },            
          ]          
        },

     options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
   
      })

    })

  }
       
    }

 
</script>

<daily-deposit :keys="{{$chart_deposits->keys()}}" :values1="{{$chart_deposits->values()}}" :values2="{{$chart_withdraws->values()}}" label="Daily Data for Last 7 days" type="line"></daily-deposit>