<script>

    export default {
       template: '<canvas ref="chart" width="520" height="260"></canvas>',
       
       props:['keys','values','label','color','type'],
        
  mounted() {
    this.$nextTick(() => {

      let myChart = new Chart(this.$refs.chart, {
        type: this.type,
        data: {
          labels: this.keys,         
          datasets: [
            {
              label: this.label,
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: this.values
            },
        ]          
      },
   
      })

    })

  }
       
    }
</script>