body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background: #fbfbfb;
}
/*custom*/
.btn-custom{
	background: #41d4e7;
	color: white;
}


nav select{
	margin-top: 10px;
}
.nav-top{
	padding: 0 15px;
}
nav .nav-top a{
	color: #fba561;
	font-weight: 600;
}
.navbar .nav-bottom{
	background:#fba561 ;
}


.navbar-brand {
	height: auto;

}
.navbar-brand img{
	width: 150px;
}
.navbar-toggle .icon-bar{
	background: white;
}
/*.nav-bottom ul{
	padding: 15px;
}*/
.nav-bottom button{
	padding: 15px;
}
.navbar .nav-bottom a{
	color: white;	
}
/*end navbar*/

/*header*/
header{
	padding: 50px 0;
	color: #fba561;
}

/*end header*/
section{
	padding: 50px 0;
}

#program{
	background: #64b7ca;
	color: white;
}

#form h2{
	color: #fba561;
	font-weight: 800;
	text-align: center;
	margin-bottom: 50px;

}
#form form{
	border: 1px solid black;
	padding: 20px;
	background: #eeeeee;
	margin-top: 10px;
	margin: 0 50px;
}
#form img{
	width: 80%;
}
#form form p{
	margin-bottom:20px;
}
#form button{
	margin: 10px 0;
}



#plans{
	background: #ededed;
}
#plans h2{
	color: #fba561;
	font-weight: 800;
	text-align: center;
	margin-bottom: 50px;
}
#plans .box{
	text-align: center;
}
#plans button{
	margin: 20px auto;
}



#support h2, #support h3{
	color: #fba561;
	font-weight: 800;
	text-align: center;
	margin-bottom: 50px;
}



footer{
	background: #f6f6f6;
}