html, body {
  height: 100%;
}
.admin-panel-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.admin-content-wrapper {
  flex: 1 0 auto;
   background-color: #e4e4e4;
   padding-bottom:50px;
}
.navbar-fixed-top-2 {
    background-color: #3097d1;
    top: 66px;
}
#admin-panel h3 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}

li.admin-menu .glyphicon {
    font-size: 24px;
}

.navbar-admin .navbar-nav > li a {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
     color: #fff;
}

.navbar-admin .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(255,255,255, 0.10);
}
.admin-menu ul.dropdown-menu {
    background-color: #3097d1;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
   background-color: rgba(255,255,255, 0.10);
}

.widget-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr;
    padding: 10px;
    grid-gap: 2px;
}
.grid-item {
    padding: 5px;
    background-color: #ddd;
}
.flex-vertical {
    flex-direction: column;
}
.flex-button-vertical {
  margin:10px 10px !important;
}
.full-menu {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
