.widget-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
}
.widget-body {
	flex:1;
	margin:20px 0;
}
.widget-grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
}
.widget-ticket-grid {
	display: grid;
    grid-template-columns: auto 120px 180px;
    grid-gap: 2px;
}
.grid-item {
	padding:8px;
}
