
.navbar-default {
    background-color: #333;
    border-color: #222;
}
.navbar-default .navbar-nav > li a {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #72bb83;
}
.nav-link {
    padding: 5px 15px !important;
        margin-top: 10px;
        margin-left: 10px;
}
.nav-link-rounded  {
    border: 1px solid #72bb83;
}
.nav-link-filled  {
    background-color: #72bb83;
}
.slide-container {
    height: 500px;
    display: flex;
    justify-content: center;
}
.slide-content {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.slide-content-1 {
    background-color: rgba(9, 251, 30, 0.40);
    padding: 20px;
    color: #fff;
    min-width: 500px;
    text-align: center;
}
.slide-content-2 {
    background-color: rgba(255, 255, 255, 0.40);
    padding: 10px;
    color: #fff;
    min-width: 500px;
    text-align: center;
}
.slide-text-1 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.slide-text-2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
a:hover.slide-text-2-link {
    color: #aaa;
    text-decoration: none;
}
ul.dropdown-menu {
    background-color: #333;
}
.dark-footer {
    background-color: #666;
    border-top: 1px solid #d3e0e9;
}
.navbar-bottom {
    color: #eee;
    border-radius: 0;
}
a.footer-menu-item {
    color: #ddd;
}
.footer-text {
    color: #fff;
    text-align: justify;
}
.bg-pages {
    background-position: bottom;
}
.title-white {
    text-shadow: none;
    font-family: Oswald, sans-serif;
    font-weight: 300;
}
ul.footer-menu-vertical {
    list-style: none;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    padding: 0;
}
.flex {
    display: flex;
}
.flex-c {
    flex-direction: column;
}
li.plan-list-item {
    background-color: #fff;
    list-style: none;
    margin:20px 0;
}
ul.flex.plan-grid {
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.plan-info-list {
    margin: 10px;
}
.dl-horizontal dt {
    width: 100px;
}
.dl-horizontal dd {
    margin-left: 110px;
}
